#skills {
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: column;
}

.skillsContent {
    display: flex;
    flex-wrap: wrap;

    gap:50px;
    justify-content:center;
}

@media screen and (max-width: 1050px) {
    .skillsContent {
        gap:10px;
        justify-content:space-around;

    }
    
}