#home {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin: auto;
    gap: 100px;
    width: 800px;
    column-gap: 50px;
    justify-content: space-between;
    align-items: center;
    min-height: calc(100vh - 80px);
}

#welcomeText {
    margin-bottom: 60px;

}

#welcomeButtons {
    display: flex;
    gap:10px;
}

#landingPicutre {
    height: 300px;
    aspect-ratio: 1/1;
    background-image: url("/assets/profilepic.jpg");
    background-position: center;
    background-size: cover;
    border-radius: 100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; 
}

@media screen and (max-width: 1050px) {
    #home {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        padding-top: 30px;
        gap: 30px;
        width: 300px;
    }

    #welcomeContainer h1,#welcomeContainer h3{
        text-align: center;

    }

    #welcomeText {
        margin-bottom: 30px;
        text-align: justify;
    }

    #landingPicutre {
        height: 200px;
    }



  }