#home {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin: auto;
    gap: 100px;
    width: 800px;
    column-gap: 50px;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

#welcomeText {
    margin-bottom: 60px;

}

#welcomeButtons {
    display: flex;
    gap:10px;
}

#landingPicutre {
    height: 300px;
    aspect-ratio: 1/1;
    background-image: url("/assets/portrait.png");
    background-position: center;
    background-size: cover;
    border-radius: 100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    
}

@keyframes blobAnimation {
    0% {
        border-radius: 53% 47% 56% 44% / 53% 65% 35% 47%;
    }
    25% {
        border-radius: 35% 65% 45% 55% / 63% 40% 60% 37%;
    }
    50% {
        border-radius: 56% 44% 66% 34% / 52% 52% 48% 48%;
    }
    75% {
        border-radius: 65% 35% 39% 61% / 51% 41% 59% 49%;
    }
    100% {
        border-radius: 53% 47% 56% 44% / 53% 65% 35% 47%;
    }
    /*0% {
        border-radius: 70% 30% 70% 30% / 30% 70% 30% 70% ;
    }
    25% {
        border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
    }
    50% {
        border-radius: 30% 70% 30% 70% / 70% 30% 70% 30%;
    }
    75% {
        border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
    }
    100% {
        border-radius: 70% 30% 70% 30% / 30% 70% 30% 70%;
    }*/
}