#experience {
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: column;

}


#experienceCardContainer {
    display: flex;
    gap: 40px
}

@media screen and (max-width: 1050px) {
    #experienceCardContainer {
        flex-direction: column;
        gap: 30px

    }
}