#mainContainer {
    max-width: 1000px;
    margin: auto;
    padding-top: 80px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    grid-template-columns: 1fr;
    gap:80px;
}