h1 {
    font-size: 64px;
    font-weight: var(--fontMediumBold);
    line-height: 64px;
    margin-bottom: 5px;

}

h2 {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 30px;
    font-weight: var(--fontSemiBold);
}

#mainContainer {
    max-width: 1000px;
    margin: auto;
    padding-top: 80px;
    height: calc(100vh - 80px);
}

#navBarContainer {
    box-shadow: 0 4px 2px -2px rgba(147, 147, 147, 0.2); 
    width: 100%;
    position: fixed;
    z-index: 100;
    background: var(--primaryColor);
}

#navBarContent {
    max-width: 1000px;
    margin: auto;
    height: 80px;
    display: grid;
    grid-template-columns: 3fr 2fr;
    justify-content: space-between;
    align-items: center;
    background: var(--primaryColor);

}

#brand {
    display: flex;
    gap: 10px;

}

#navButtonContainer {
    display: flex;
    justify-content: space-between;
}

.navButton {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
    font-size: var(--smallFontSize);
    font-weight: var(--fontSemiBold);
	cursor: pointer;
	outline: inherit;
}

#home {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin: auto;
    gap: 100px;
    width: 800px;
    column-gap: 50px;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

#welcomeText {
    margin-bottom: 60px;

}

#welcomeButtons {
    display: flex;
    gap:10px;
}

.button {
    background-color: var(--secondaryColor);
    color: var(--primaryColor);
    padding: 20px 30px;
    border-radius: 15px;
    font-weight: var(--fontSemiBold);
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    gap: 10px;
    cursor: pointer;
}

.button:hover {
    opacity: 90%;
}

.bgblob {
    animation: blobAnimation 15s infinite linear;
    height: 300px;
    aspect-ratio: 1/1;
    background-image: url("cancelled.png");
    background-position: center;
    background-size: cover;
    border: 8px solid var(--secondaryColor);
    
}

@keyframes blobAnimation {
    0% {
        border-radius: 53% 47% 56% 44% / 53% 65% 35% 47%;
    }
    25% {
        border-radius: 35% 65% 45% 55% / 63% 40% 60% 37%;
    }
    50% {
        border-radius: 56% 44% 66% 34% / 52% 52% 48% 48%;
    }
    75% {
        border-radius: 65% 35% 39% 61% / 51% 41% 59% 49%;
    }
    100% {
        border-radius: 53% 47% 56% 44% / 53% 65% 35% 47%;
    }
    /*0% {
        border-radius: 70% 30% 70% 30% / 30% 70% 30% 70% ;
    }
    25% {
        border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
    }
    50% {
        border-radius: 30% 70% 30% 70% / 70% 30% 70% 30%;
    }
    75% {
        border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
    }
    100% {
        border-radius: 70% 30% 70% 30% / 30% 70% 30% 70%;
    }*/
}