.card {
    display:grid;
    grid-template-rows: 4fr 5fr;
    height: 400px;
    width: 300px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 30px;
    overflow: hidden;
    background-color: var(--primaryColor);
}

.cardWithoutImage {
    grid-template-rows: 1fr !important;
}

.cardImage {
    background-position: center;
    background-size: cover;
}

.cardContent {
    margin: 15px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.cardTitle {
    font-weight: var(--fontBold);
    padding-bottom: 0;
    margin-bottom: 0 !important;
}

.cardText {
    font-size: var(--smallFontSize);
    text-align: justify;
    max-height: 100px !important;
}

.cardFromTo {
    font-weight: var(--fontSemiBold);
}

.cardPositionName {
    font-weight: var(--fontMediumBold);
    padding-bottom: 10px;
}

.cardBottom {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap:10px;
    font-size: var(--smallFontSize);
    font-weight: var(--fontSemiBold);
    align-items: end;
}

.cardActions {
    display: flex;
    gap:10px;
    justify-content: end;
}

.skillContainer {
    font-weight: var(--fontSemiBold);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:10px;
    width: 100px;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.skillImgContainer {
    height: 75px;
    width: 75px;
    background-color: var(--secondaryColor);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1;
}

.skillImage {
    filter: brightness(0.0) invert();
}

.skillContainer:hover .skillImgContainer{
    background-color: var(--primaryColor);
}

.skillContainer:hover .skillImage{
    background-color: var(--primaryColor);
    filter: brightness(1);
}

.modal{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background: var(--primaryColor);
    z-index: 1000;
    display: flex;
    justify-content: center;
    overflow-y: auto;

}

.modalContent {
    max-width: 1000px;
    padding: 25px;
}
.modalCloseButton {
    position: relative;
    padding: 5px 8px !important;
    background-color: var(--primaryColor) !important;
    color: var(--secondaryColor) !important;
    width: 75px !important;
    height: 75px !important;

}

.modalCloseButton:hover {
    background-color: rgb(226, 77, 77) !important;
    color: var(--primaryColor) !important;
}

.modalHeader {
    display: flex;
    margin-bottom: 50px;
    margin: 0 0 50px 0;
    align-items: center;
    justify-content: space-between;
}

.modalTitle {
    padding-bottom: 0 !important;
    margin-bottom:0 !important;
}

.modalPositionName {
    font-weight: var(--fontSemiBold);
    font-size: var(--largeFontSize);
}

.modalContent p {
    margin-bottom: 10px;
    text-align: justify;
}

@media screen and (max-width: 1050px) {
    .skillContainer {
        gap:10px;
        width: 85px;
        font-size: var(--smallFontSize);
    }

    .skillImage {
        transform: scale(0.6);
    }

    .skillImgContainer {
        height: 50px;
        width: 50px;
    }

    .modalContent h2 {
        font-size: 30px;
        line-height: 30px;
    }
}